Package: bcloud
Version: 2.2.4-1
Architecture: all
Maintainer: LiuLang<gsushzhsosgsu@gmail.com>
Installed-Size: 668
Depends: python3-gi, gnome-icon-theme-symbolic, python3-urllib3
Section: gnome
Priority: optional
Homepage: https://github.com/LiuLang/gcloud
Description: Baidu Pan client for linux users
 Alternative client of Baidu Pan (Baidu Personal Cloud) for linux desktop 
 users.
