Package: bcloud
Version: 3.3.3-1
Architecture: all
Maintainer: LiuLang<gsushzhsosgsu@gmail.com>
Installed-Size: 732
Depends: python3-gi, python3-dbus, gnome-icon-theme-symbolic, gir1.2-notify-0.7, python3-keyring, gir1.2-gtk-3.0
Section: gnome
Priority: optional
Homepage: https://github.com/LiuLang/gcloud
Description: Baidu Pan client for linux users
 Alternative client of Baidu Pan (Baidu Personal Cloud) for linux desktop 
 users.
